.navStyling{
    background-color: rgb(90, 86, 86);
    position: sticky;
    top: 0;
    color: white;
    font-size: 1.1em;
}

.whiteText{
    color: white !important;
}

.grayText{
    color: gray !important;
}
.upravaNadpisu{
    font-size: 3em !important;
    background-color: rgb(206, 67, 67);
}

.specialColorT{
    color: rgb(206, 67, 67);
}

.jumbotron{
    border-radius: 0;
}

.borda{
    border: 2px solid rgb(104, 102, 102);
    border-radius: 2px 2px 2px 2px;
}

h2, .uvodTabulka{
    background-color: rgb(206, 67, 67);
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}

.font-miniinfo{
    font-size: 1.2em;
}

footer{
    bottom: 0;
    background-color: rgb(90, 86, 86);
    font-size: 2em;
}

.displayFlex{
    display: flex;
}

.biggerSize{
    font-size: 1.5em;
}

.custom-control-input{
    size: 100;
}